@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  list-style: none;
}
body {
  font-family: "Poppins", sans-serif;
}

.my-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .my-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .my-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .my-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .my-container {
    max-width: 1140px;
  }
}

.img-wrapper {
  border-radius: 8px;
  overflow: hidden;
}
.img-wrapper img {
  transition: transform 0.3s;
}
.img-wrapper img:hover {
  border-radius: 8px;
  transform: scale(1.1);
  filter: grayscale(100%);
}
