@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-color: #fefcf6;
}

.my-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .my-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .my-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .my-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .my-container {
    max-width: 1140px;
  }
}

.gallery-img-wrapper {
  border-radius: 8px;
  overflow: hidden;
}
.gallery-img-wrapper img {
  transition: transform 0.3s;
}
.gallery-img-wrapper img:hover {
  border-radius: 8px;
  transform: scale(1.1);
  filter: grayscale(100%);
}

.section-header {
  background: linear-gradient(
    45deg,
    rgba(34, 164, 116, 1) 0%,
    rgba(41, 47, 143, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.active {
  color: rgb(92, 176, 255);
}
